body {
  font-style: sans-serif, cursive;
}
.jumbotron {
  padding-top: 8rem;
  background-color: #bbd3f7;
}
footer {
  text-align: center;
  background-color: #006db6;
}
#projects {
  background-color: #bbd3f7;
}
section {
  padding-top: 6rem;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
a {
  font-family: 'Sansita Swashed', cursive;
  letter-spacing: 5px;
}
p {
  font-size: 14px;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
}
